.section-1 {
	width: 100%;
	height: 100vh;
	background: linear-gradient(
			rgba(255, 255, 255, 0.2),
			rgba(255, 255, 255, 0.3)
		),
		url('../../images/bg.jpg') center no-repeat;
	background-size: cover;
	flex-direction: column;

	&__heading {
		font-size: 6rem;
		font-weight: 700;
		color: var(--color-white);
		background-color: var(--color-primary);
		padding: 0 3rem;
		margin-bottom: 5rem;
		text-transform: uppercase;
		letter-spacing: 1rem;
		border-bottom: 0.3rem solid rgb(233, 233, 233);
		text-shadow: 0.2rem 0.2rem 1rem var(--color-grey-light);
		transform: skew(-10deg);
	}

	&__person-img {
		width: 25rem;
		height: 25rem;
		object-fit: cover;
		border-radius: 50%;
		border: 0.5rem solid var(--color-primary);
		opacity: 0.7;
	}

	&__person-name {
		font-size: 2rem;
		color: var(--color-white);
		background-color: var(--color-primary);
		margin: 5rem 0;
		padding: 0.5rem 3rem;
		letter-spacing: 0.3rem;
		transform: skew(-10deg);
	}

	&__btn {
		font-size: 1.7rem;
		font-weight: 700;
		color: var(--color-grey-dark);
		background-color: var(--color-white);
		border: 0.3rem solid var(--color-grey-dark);
		padding: 0.5rem 1rem;
		text-transform: uppercase;
		letter-spacing: 0.3rem;
	}
}

.section-2 {
	width: 100%;
	height: 100%;
	padding: 15rem 0 10rem 0;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	align-items: center;

	&__heading {
		@extend %section__heading-placeholder;
	}
}

.section-3 {
	width: 100%;
	height: 100%;
	padding: 10rem 0;
	background-color: #eef;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__heading {
		@extend %section__heading-placeholder;
	}
}

.section-4 {
	width: 100%;
	height: 70vh;
	background-color: var(--color-grey-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	&__heading {
		color: var(--color-white);
		text-shadow: none;
		border-color: var(--color-white);
		@extend %section__heading-placeholder;
	}
}
